body {
  background-color: #dfe6e9;
}

table, th, td {
  border: 1.5px solid black;
  border-collapse: collapse;
  padding: 10px;
}

table th {
  background-color:#b2bec3;
  color: white;
  padding: 1px;
}

table tr:nth-child(even) {
  background-color: #eee;
}
table tr:nth-child(odd) {
  background-color: #fff;
}

td {
  width: 180px;
  height: 30px;
  text-align: center;
}

input {
    background-color: #dfe6e9;
    border: none;
    outline: none;
    height: 100%;
}

td input {
  display: inline-block;
  width: 80px;
  cursor: default;
}

td input:first-of-type {
  margin-right: 10px;    
  cursor: pointer;
}

#shuffle {
  float: right;
  background-color: #dcdde1;
}

section {
  display:grid;
  grid-template-columns: 3fr 1fr;
}

aside {
    justify-self: center;
}

aside  table {
  width: 250px;
  height: 250px;
}

aside table button {
  height: 100%;
  width: 100%;    
  font-size: 1.5em;
}

aside td {
  padding: 1px;
}

.turn {
  background-color: aquamarine;
}

.live {
  background-color: cyan;
}

#xishti {
  display: inline-block;
  width: 100px;
  height: auto;
  padding-left: 5px; 
}

.required {
  border: 1px solid red;
}