@viewport {
    width: device-width ;
    zoom: 1.0 ;
}

@-ms-viewport {
    width: device-width ;
}

h1 {
    font-family: 'Cinzel', serif;
    text-align: center;
    font-size: 100px;
}

body {
    background-color: #b2bec3;
}

a,h2 {
    font-size: 65px; 
    font-family: 'Ribeye', cursive;
    position: relative;
    display: inline-block; 
    text-decoration: none;
    color:black;
    width: 250px;    
    margin: 0px 45% 0px 45%;
}

a:hover {
    color:#e84118;
}
  
.dropdown {
    position: relative;
    display: inline;
    text-align: center;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: none;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 0px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    padding-right: 10px;
}

.dropdown-content a:hover {  
    color:#e84118;
}

.dropdown:hover .dropdown-content {
    display: block;

}